
@using App.Infrastructure.File
@model App.Services.Dtos.Settings.SettingDetail

<footer class="footer">
    <div class="container">
        <div class="row ptb30">
            <div class="col-sm-4">
                <div class="footer-widget">
                    <div class="contact-list">
                        <a class="logo" href="@Model.Website">
                            <img class="img-responsive" src="@Url.Content(GalleryHelper.GetLogoPath(Model.Logo))" alt="Xứ nghệ">
                        </a>
                        <ul class="reset">
                            <li>
                                <i class="fa fa-map-marker"></i>
                                @Model.Address
                            </li>
                            <li>
                                <i class="fa fa-headphones"></i>
                                @Model.PhoneNumber
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                @Model.Email
                            </li>
                            <li>
                                <i class="fa fa-skype"></i>
                                @Model.Skype
                            </li>
                            <li>
                                <i class="fa fa-globe"></i>
                                @Model.Website
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="footer-widget mb30">
                    <h3 class="mb15">Newsletter</h3>
                    <div class="newsletter-form">
                        <p>Nhận tin qua email</p>
                        <form>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                <input class="form-control" placeholder="Your Email" type="text">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-icon">
                                        <i class="fa fa-paper-plane"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div><!-- /.footer-widget-->

                <div class="footer-widget">
                    <h3>Tags</h3>
                    <div class="populer-tags">
                        <ul class="reset">
                            <li>
                                <a href="#">Xứ nghệ</a>
                            </li>
                            <li>
                                <a href="#">Nghệ An</a>
                            </li>
                            <li>
                                <a href="#">Bến thủy</a>
                            </li>
                            <li>
                                <a href="#">Vinh</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.footer-widget-->

            </div>
            <div class="col-sm-4">
                <div class="footer-widget">
                    <h3>Follow</h3>
                    <div class="newsletter-form">
                        @*<h3>Facebook from</h3>*@
                        @Html.Raw(Model.Facebook)
                    </div>
                </div><!-- /.footer-widget-->
            </div>
        </div>
    </div>
    <div class="footer-bar">
        <div class="container">
            <div class="copyright">
                Xứ nghệ @($"@{DateTime.Now.Year}"), All Rights Reservered
            </div>
        </div>
    </div>
</footer>
