@using System.Web.Optimization
@using App.Core.News
@model App.Services.Dtos.Settings.SettingHomepageViewModel

@{
    ViewBag.Title = "Home page - Setting";
}

@section AddStyles{
    
}

@section ContentHeader
{
    <section class="content-header">
        <h1>
            Homepage
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Settings</li>
            <li class="active">Homepage</li>
        </ol>
    </section>
}

<div class="row">
    <div class="col-xs-12">
        <div id="validation-messages"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Categories</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <ul id="categories" class="connectedSortable">
                                    @foreach (var c in Model.Categories)
                                    {
                                        <li class="ui-state-default dd-handle" data-category-id="@c.Id" data-media-type="@MediaType.Standard" data-layout-type="@LayoutType.OneCategory">@c.Name</li>
                                    }
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>
                    <div class="col-xs-6">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Display on home page</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <ul id="homepage-layout" class="connectedSortable">
                                    @foreach (var l in Model.HomepageLayOuts)
                                    {
                                        <li class="ui-state-highlight dd-handle" data-id="@l.Id" data-category-id="@l.CategoryId" data-media-type="@l.MediaType" data-layout-type="@l.LayoutType" >@l.Title</li>
                                    }
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
                <div class="box-footer">

                    <button id="btn-save-homepage-layout" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                </div>
            </div><!-- /.box -->
        </div>
    </div>
</div>
@Html.Hidden("UpdateHomepageLayoutUrl", Url.Action("Homepage", "Setting"), new { id= "update-homepage-layout-url" })



@section AddScripts{
    <!-- Nestable -->
    @Scripts.Render("~/Areas/Admin/Scripts/app/homepageLayout.js")
}