@using App.Core.Extensions
@model App.Services.Dtos.NewsManagement.PublicNewsDetail

@{
    Layout = "~/Views/Shared/_LayoutPreview.cshtml";
    var category = Model.Categories.LastOrDefault();
}

<div class="post-widget bg-white light-shadow mb30">
    <article class="post">
        <div class="img-holder-wrap">
            <a class="img-holder" href="#">
                <img src="@Model.Image" alt="@Model.Title">
            </a>
            <span class="post-badge">@(category?.Name)</span>
        </div>
        <div class="post-info p30">
            <h3>@Model.Title</h3>
            <div class="row mb10">
                <div class="col-sm-6">
                    <ul class="post-meta m0 p0">
                        <li><i class="fa fa-clock-o"></i> @Model.PublishedDate.RelativeTime()</li>
                        <li><i class="fa fa-eye"></i> @Model.Views</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                @{
                    var shareUrl = Url.Encode(Request?.Url.OriginalString);
                }
                    <ul class="social-share reset text-right">
                        <li>
                            <a class="btn-facebook" onclick="return ShareSocial(this);"  href="https://www.facebook.com/sharer/sharer.php?u=@shareUrl">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a class="btn-twitter" onclick="return ShareSocial(this);"  href="https://twitter.com/share?url=@shareUrl">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a class="btn-linkedin" onclick="return ShareSocial(this);"  href="https://www.linkedin.com/cws/share?url=@shareUrl">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="post-content">
                @Html.Raw(Model.Content) 
            </div>
            <div class="post-tags-holder">
                <ul class="post-tags reset">
                    @foreach (var t in Model.Tags)
                    {
                        <li><a href="#">@t.Name</a></li>
                    }
                </ul>
            </div>
        </div>
    </article>
</div><!-- /.post-widget-->
