@using System.Web.Optimization
@using App.Core.Permission
@model App.Services.Dtos.IdentityManagement.RoleEntry
@{
    ViewBag.Title = "Roles";
}

@section AddStyles{
    <!-- iCheck for checkboxes and radio inputs -->
    @Styles.Render("~/Areas/Admin/Scripts/iCheck/line/blue.css")
}

@section ContentHeader
{
    <section class="content-header">
        <h1>
            Roles Management
            <small>add new role</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Users</li>
            <li class="active">Roles</li>
        </ol>
    </section>
}
<div class="box box-primary">
    <div class="box-header with-border">
    </div><!-- /.box-header -->
    @using (Html.BeginForm("Create", "Role", FormMethod.Post))
    {
    <div class="box-body">
        <div class="form-group">
            @Html.LabelFor(m => m.RoleName)
            @Html.TextAreaFor(m => m.RoleName, new { @class = "form-control", placeholder = "Enter role name" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new {@class="form-control", placeholder = "Enter description"})
            @*<label for="txtDescription">Description</label>
            <input class="form-control" id="txtDescription" placeholder="Enter description" type="text">*@
        </div>
        <div class="form-group">
            <label>Permissions</label>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td></td>
                        <td>Create</td>
                        <td>Read</td>
                        <td>Modify</td>
                        <td>Delete</td>
                        <td>Super</td>
                    </tr>
                    <tr>
                        <td>Users management</td>
                        <td>
                            <input name="Permissions[0].ClaimType" type="hidden" value="@ApplicationPermissionCapabilities.USER" />
                            <input name="Permissions[0].ClaimValue" type="checkbox"  value="@ApplicationPermissions.Create">
                        </td>
                        <td>
                            <input name="Permissions[1].ClaimType" type="hidden" value="@ApplicationPermissionCapabilities.USER" />
                            <input name="Permissions[1].ClaimValue" type="checkbox"  value="@ApplicationPermissions.Read">
                        </td>
                        <td>
                            <input name="Permissions[2].ClaimType" type="hidden" value="@ApplicationPermissionCapabilities.USER" />
                            <input name="Permissions[2].ClaimValue" type="checkbox"  value="@ApplicationPermissions.Modify">
                        </td>
                        <td>
                            <input name="Permissions[3].ClaimType" type="hidden" value="@ApplicationPermissionCapabilities.USER" />
                            <input name="Permissions[3].ClaimValue" type="checkbox"  value="@ApplicationPermissions.Delete">
                        </td>
                        <td>
                            <input name="Permissions[4].ClaimType" type="hidden" value="@ApplicationPermissionCapabilities.USER" />
                            <input name="Permissions[4].ClaimValue" type="checkbox"  value="@ApplicationPermissions.Super">
                        </td>
                    </tr>
                    <tr>
                        <td>News management</td>
                        <td>
                            <input name="Permissions[5].ClaimType" type="hidden" value="@ApplicationPermissionCapabilities.NEWS" />
                            <input name="Permissions[5].ClaimValue" type="checkbox"  value="@ApplicationPermissions.Create">
                        </td>
                        <td>
                            <input name="Permissions[6].ClaimType" type="hidden" value="@ApplicationPermissionCapabilities.NEWS" />
                            <input name="Permissions[6].ClaimValue" type="checkbox"  value="@ApplicationPermissions.Read">
                        </td>
                        <td>
                            <input name="Permissions[7].ClaimType" type="hidden" value="@ApplicationPermissionCapabilities.NEWS" />
                            <input name="Permissions[7].ClaimValue" type="checkbox"  value="@ApplicationPermissions.Modify">
                        </td>
                        <td>
                            <input name="Permissions[8].ClaimType" type="hidden" value="@ApplicationPermissionCapabilities.NEWS" />
                            <input name="Permissions[8].ClaimValue" type="checkbox"  value="@ApplicationPermissions.Delete">
                        </td>
                        <td>
                            <input name="Permissions[9].ClaimType" type="hidden" value="@ApplicationPermissionCapabilities.NEWS" />
                            <input name="Permissions[9].ClaimValue" type="checkbox"  value="@ApplicationPermissions.Super">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-default" href="@Url.Action("Index", "Role")">Back to roles</a>
    </div>

    }

    <form role="form"></form><!-- /form-->
</div><!-- /.box -->


@section AddScripts{
    <!-- iCheck -->
    @Scripts.Render("~/Areas/Admin/Scripts/iCheck/icheck.min.js")

    <script>
        $(function () {
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });
        });
    </script>
}

