@using System.Globalization
@using App.Infrastructure.File
@model IEnumerable<App.Services.Dtos.NewsManagement.NewsSummary>

@if (Model.Any())
{
    <div class="row news-list">
        @foreach (var m in Model)
        {
            var detailUrl = Url.Action("Details", "News", new { id = m.Id });
            var updatedDate = m.UpdatedDate ?? m.CreatedDate;
            <div class="col-sm-4">
                <div class="item">
                    <a class="news-image" href="@detailUrl">
                        <img class="img-responsive" src="@Url.Content(GalleryHelper.GetThumbnailPath(m.Image))" alt="@m.Title"/>
                    </a>
                    <div class="news-summary">
                        <div class="news-title">
                            <a href="@detailUrl" title="@m.Title">@m.Title</a>
                        </div>
                        <div class="news-desc">
                            @m.Description
                            Nebraska Sen. Ben Sasse, a frequent Trump critic, said the President should publicly release the FISA Court order that would have been needed if his phones were legally tapped by the government.
                        </div>
                    </div>
                    <div class="news-info">
                        <span>@updatedDate.ToString("dd/MM/yyyy HH:mm")</span> | by <span>@m.UpdatedBy</span>
                    </div>
                </div>
            </div>
        }
    </div>
}