@{
    Layout = "~/Areas/Admin/Views/Account/_Layout.cshtml";
    ViewBag.Title = "Forgot your password?";
}
@model App.Website.Models.ForgotPasswordViewModel


@*<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 text-right">
            <input type="submit" class="btn btn-primary" value="Email Link" />
        </div>
    </div>
}*@

<!-- Automatic element centering -->
<div class="lockscreen-wrapper">
    <div class="lockscreen-logo">
        <a>@ViewBag.Title</a>
    </div>
    
    <!-- START LOCK SCREEN ITEM -->
    <div class="lockscreen-item">
        <!-- lockscreen credentials (contains the form) -->
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form-horizontal lockscreen-credentials", style = "margin-left: 0;", role = "form"}))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="input-group">
                <div class="input-group-btn">
                    <span class="btn"><i class="fa fa-envelope text-muted"></i></span>
                </div>
                @Html.TextBoxFor(x => x.Email, new {@class = "form-control", placeholder = "email"})
                <div class="input-group-btn">
                    <button type="submit" class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
                </div>
            </div>
        }
    </div><!-- /.lockscreen-item -->
    <div class="help-block text-center">
        Enter your email.
    </div>
    <div class="text-center">
        <a href="@Url.Action("Login", "Account")">Or sign in as a different user</a>
    </div>
</div>
<!-- /.center -->

@section Scripts {
}
