@using System.Web.Optimization
@using App.Core.Files
@using App.Core.User
@using App.Infrastructure.File
@model App.Services.Dtos.IdentityManagement.UserEntry
@{
    ViewBag.Title = "User";
}

@section AddStyles{
    <!-- Bootstrap-toggle -->
@Styles.Render("~/Areas/Admin/Scripts/bootstrap-toggle/bootstrap-toggle.min.css")
}

@section ContentHeader
{
    <section class="content-header">
        <h1>
            User Management
            <small>Create</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home", new {area = "Admin"})"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="@Url.Action("Index", "User", new {area = "Admin"})"><i class="fa fa-dashboard"></i> Users Management</a></li>
            <li class="active">Users</li>
        </ol>
    </section>
}


@using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    var toggleAttributes = new { data_toggle = "toggle", data_onstyle = "success", data_on = "Yes", data_off = "No", data_size = "small" };

    <div class="row">
        <div class="col-xs-12">
            @Html.ValidationSummary(false, null, new { @class = "alert alert-danger alert-dismissible", id = "error-messages" })
        </div>
    </div>

        <div class="row">
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Personal Information</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter email" })
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Firstname, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control", placeholder = "Enter first name" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Lastname, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control", placeholder = "Enter last name" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PhoneNumber, "Phone number", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Enter phone number" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DateOfBirth, "Date of birth", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control", placeholder = "Date of birth" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Gender)
                            @Html.DropDownListFor(m=>m.Gender, (SelectList)ViewBag.Gender, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Enter address" })
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Account Information</h3>
                    </div>
                    <div class="box-body form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(m => m.RoleIds, "Roles", new {@class = "control-label col-sm-2"})
                            <div class="col-sm-10">
                                @Html.DropDownListFor(m => m.RoleIds, (MultiSelectList) ViewBag.Roles, new {@class = "form-control col-sm-10 select2", @multiple = "multiple"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.EmailConfirmed, "Email confirmed", new { @class = "control-label col-sm-2" })
                            <div class="col-sm-10">
                                @Html.CheckBoxFor(m => m.EmailConfirmed, toggleAttributes)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LockoutEnabled, "Lockout enabled", new { @class = "control-label col-sm-2" })
                            <div class="col-sm-10">
                                @Html.CheckBoxFor(m => m.LockoutEnabled, new { data_toggle = "toggle", data_onstyle = "danger", data_on = "On", data_off = "Off", data_size = "small" })
                            </div>
                        </div>
                        
                    </div><!-- /.box-body -->
                </div><!-- /.box -->

            </div>

            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Profile picture</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div id="wrapperUploadFeaturedImage" class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-success btn-sm btn-file">
                                        <i class="fa fa-folder-open-o"></i> Browse...
                                        @Html.TextBoxFor(x => x.ProfilePicture, new { type = "file", @class = "input-file-single", data_preview = "previewProfilePicture" })
                                    </span>
                                </span>
                                <input type="text" readonly="readonly" class="form-control input-sm input-file">
                            </div><!-- /input-group -->
                        </div>
                        <div id="previewProfilePicture" class="">
                            <img src="@Url.Content(GalleryHelper.GetFilePath(string.Empty, FilePath.ProfileThumbnail))" class="profile-user-img img-responsive img-circle" style="height: 100px">
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>

        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-default" href="@Url.Action("Index", "User")">Quay lại</a>
        </div>

}

@section AddScripts{
    <!-- jQuery-validate -->
    @Scripts.Render("~/Admin/Js/jqueryval")

    <!-- Select2-->
    @Scripts.Render("~/Admin/Js/select2")
            
     <!-- Bootstrap-toggle -->
    @Scripts.Render("~/Areas/Admin/Scripts/bootstrap-toggle/bootstrap-toggle.min.js")

    <script type="text/javascript">
            jQuery(function ($) {
                //Initialize Select2 Elements
            });
    </script>
}

