@using System.Web.Optimization
@{
    ViewBag.Title = "Người dùng";
}
@model IEnumerable<App.Services.Dtos.IdentityManagement.UserSummary>

@section AddStyles{
    @*@Styles.Render("~/Admin/Css/DataTable")*@
}

<div class="box">
    @*<div class="box-header">
        <h3 class="box-title">Data Table With Full Features</h3>
        @using (Html.BeginForm("Index", "User", FormMethod.Get))
        {
            <div class="input-group input-group-sm">
                <input class="form-control" type="text">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-info btn-flat">Go</button>
                </span>
            </div>
        }
    </div>*@
    <div class="box-header with-border">
        <h3 class="box-title">
            <a class="btn btn-block btn-primary" href="@Url.Action("Create", "User")">Tạo tài khoản</a>
        </h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Phone Number</th>
                    <th>Roles</th>
                    <th>Action</th>
                </tr>
            </thead>
        <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Firstname</td>
                <td>@m.Lastname</td>
                <td>@m.PhoneNumber</td>
                <td>
                    @foreach (var r in m.Roles)
                    {
                        <span class="label label-info">@r.RoleName</span>
                    }
                </td>
                <td>
                    <a class="btn btn-default btn-sm" href="@Url.Action("Edit", "User", new {id = m.Id})">
                        <i class="fa fa-fw fa-pencil"></i> Edit
                    </a>
                </td>
            </tr>
        }
        </tbody>
        </table>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
        <ul class="pagination no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div><!-- /.box -->


@section AddScripts{

    <!-- DataTables -->
    @*@Scripts.Render("~/Admin/Js/dataTable")

    <script>
      $(function () {
        $("#example1").DataTable();
      });
    </script>*@
}

